
@font-face {
  font-family: "Pelli";
  src: url("./assets/fonts/Playfair/static/Playfair_144pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.pelli-logo {
  font-family: "Pelli", serif;
}
